html {
  scroll-behavior: smooth !important;
}

html,
body {
  width: 100%;
  font-size: 16px;
  line-height: 1.53;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 70px;
  background-color: white;

  border: 1px solid #0000001a;
  box-shadow: 0 0 4px #0000001a;
}

#hamburgerMenu {
  line-height: 0;
  width: 90%;
  z-index: 1;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}

nav ul {
  display: flex;
}

nav {
  height: 70px;
  /* display: flex;
  align-items: center; */
  padding: 0 !important;
  overflow: auto;
}

nav a:hover {
  color: #3d66bf !important;
}

nav > ul {
  flex: 1;
  list-style: none;
  font-weight: bold;
  align-items: center;
  padding: 0 !important;
  margin: 0;
  height: 0;
  overflow: hidden;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

section {
  scroll-margin-top: 70px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

hr {
  border: 1px solid #0000001a;
  margin: 0;
}

#welcome > div {
  flex-direction: column;
}
